{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                   usuario: {{ usuario  }}
                    <h2 class="splash-subhead" style="color:#1E90FF">
                        cv-working  (sistema de apoio)
                    </h2>


                    <div id="municipios">
                        <div class="wrapper">
                            <div>
                                <h1>Aspec</h1>
                        <ul>
                            <li>Coreaú (85)</li>
                            <li>Graça (134)</li>
                            <li>Mombaça(42)</li>
                            <li>Ocara(182)</li>
                            <li>Solonópole(109)</li>
                        </ul>
                            </div>

                            <div>
                                <h1>Layout</h1>
                        <ul>
                            <li>Alto Santo (125)</li>
                            <li>Aratuba (152)</li>
                            <li>Independência (76)</li>
                            <li>Irapuan Pinheiro (162)</li>
                            <li>Itapiúna (98)</li>
                            <li>Jaguaribe (57)</li>
                            <li>Pacujá (177)</li>
                            <li>Piquet Carneiro (119)</li>
                            <li>São João do Jaguaribe (174)</li>
                            <li>Varjota (107)</li>
                        </ul>
                            </div>
                            <div>
                                <h1>SS</h1>
                        <ul>
                            <li>Alto Santo (125)</li>
                            <li>Aratuba (152)</li>
                            <li>Independência (76)</li>
                            <li>Irapuan Pinheiro (162)</li>
                            <li>Itapiúna (98)</li>
                            <li>Jaguaribe (57)</li>
                            <li>Pacujá (177)</li>
                            <li>Piquet Carneiro (119)</li>
                            <li>São João do Jaguaribe (174)</li>
                            <li>Varjota (107)</li>
                        </ul>
                            </div>
                        </div>
                    </div>

                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"></h4>
                    <h3>Envie suas sugestões</h3>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

