{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                   usuario: {{ usuario  }}
                    <h2 class="splash-subhead" style="color:#1E90FF">
                        cv-working  (sistema de apoio)
                    </h2>

                    <p>

                    <ul>
                        <li>Aspec</li>
                        <ul>
                            <li>Mombaça(42)</li>
                            <li>Coreaú(85)</li>
                            <li>Solonópole(109)</li>
                            <li>Ocara(182)</li>
                        </ul>

                        <li>Layout</li>
                        <ul>
                            <li>Jaguaribe (57)</li>
                            <li>Independência (76)</li>
                            <li>Itapiúna (98)</li>
                            <li>Varjota (107)</li>
                            <li>Piquet Carneiro (119)</li>
                            <li>Alto Santo (125)</li>
                            <li>Irapuan Pinheiro (162)</li>
                            <li>São João do Jaguaribe (174)</li>
                            <li>Pacujá (177)</li>
                        </ul>


                        <li>SS</li>
                        <ul>
                            <li>Canindé(15)</li>
                            <li>Tianguá(16)</li>
                            <li>São Gonçalo do Amarante(38)</li>
                            <li>Pedra Branca(44)</li>
                            <li>Caridade(86)</li>
                            <li>Itatira(92)</li>
                            <li>Quixelo(124)</li>
                            <li>Palhano(163)</li>
                        </ul>

                </p>

                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"></h4>
                    <h3>Envie suas sugestões</h3>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

