{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                   usuario: {{ usuario  }}
                    <h2 class="splash-subhead" style="color:#1E90FF">
                        cv-working  (sistema de apoio)
                    </h2>
                    <h2 class="splash-subhead">
                    Isto é apenas uma ferramenta de apoio que ainda se encontra em fase de desenvolvimento. Nos envie suas sugestões.
                    </h2>
                    <p>
                        Orientação para conseguir gera o arquivo Excel 

                    </p>
                    <p>
                    <textarea rows="15" cols="100">

                    1. Executar a opção 1.1 Processameto da Folha: nesta opção o sistema ler o dados
                    da planilha Excel que foi importada.

                    2. Executar a opçao 2.1 e 2.2 para verificar se os valores apresentados 
                    estão de acordo com os valores apresentados no PDF.

                    3. Executar a opção 2.3 para visualizar a planilha Base.
                          </textarea>
                </p>

                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"></h4>
                    <h3>Envie suas sugestões</h3>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

