{% extends 'base2.html' %}


{% block content %}
<br/>

<div class="container">
<p align="center">{{ titulo }} - {{ usuario_id }} - {{ usuario_username }}</p>

    
   <form enctype="multipart/form-data" action="{% url 'app01:agrupar-eventos' %}" method="post">
    {%csrf_token%}

   {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li> {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

   
<div class="row">   

<div class="form-group">
      
    
    <div class="col">
    <label for="id_empresa" class="col-form-label">Empresa</label>
    <select name="empresa"  id="id_empresa" class="form-control" required>
      <option value=""></option>
      <option value="SS">SS Informatica</option>
      <option value="Layout">Layout</option>
      <option value="Aspec">Aspec</option>
    </select>   
    </div>
</div>
</div>


<div class="row">
<div class="form-group">  
  <div class="col">
  
    <div class="fileUpload btn btn-outline-secondary ">
    <label for="upload" class="col-form-label">Arquivo</label>
      <input type="file" id="filename" class="upload" name="filename" required />
    </div>
  </div>
  </div>
</div>  

  
  <br><br>


    <p><span style="display:none">
    <input type="submit" id="submit" value="Entrar 2" >
    </span></p>


    <p>
    <button class="btn btn-success" id="bt_submit" onclick="fnSubmit();" >Executar</button>
    </p>
    <div id="msgDiv" style="display:none">Processo iniciado...</div>



<script>
function fnSubmit(){
  var dados_ok=0;
  if (document.getElementById("filename").value!=""){
      if (document.getElementById("id_municipio").value!=""){
        if (document.getElementById("id_ano").value!=""){
          if (document.getElementById("id_mes").value!=""){
             dados_ok=1;
          }
        }
      }
   }
   if (dados_ok==1){
    document.getElementById("bt_submit").disabled=true;
    document.getElementById("msgDiv").style.display = "block";
    document.getElementById("submit").click();
   }

}
</script>
<style>
#msgDiv {
  width: 550px;
  height: 150px;
  background-color: lightblue;
  font-size: 24px;
}

.mensagem {
  color: red;

}

</style>

   </form>


   <hr>
</div>   
{% endblock %}
